@tailwind base;
@tailwind components;
@tailwind utilities;



.service{
    margin: 40px auto;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
  }
  
.service:before {
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    border-radius: 10px;
    background: #F67366;
    left: 0;
    bottom: -20%;
    position: absolute;
  }
  
/* .service:after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
  } */